
/* // ----------------- EmployeePortalHomepageHeader start -------------------- */

.EmployeePortalHomepageHeader_container{
  width: 100%;
padding: 0 38px;
border:0.1px solid rgba(0,0,0,0.1) ;
}
.EmployeePortalHomepageHeader_subcontainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  

}

.EmployeePortalHomepageHeader_subcontainer .EmployeePortalHomepageHeader_logo img{
width: 250px;
}
.EmployeePortalHomepageHeader_nav_menu_container{
  
  
}
.EmployeePortalHomepageHeader_nav_menu{
 

}
.EmployeePortalHomepageHeader_nav_menu_btns_container button{
  
/* width: 150px; */
 

}


/* * // ----------------- EmployeePortalHomepageHeader end ------------------- */ 