.ugquiz_StudentDashbordconatiner{
  width:100%;
  display: grid;
  grid-template-columns: 15% 85%;
}

.ugquiz_StudentDashbordconatiner_left{
  background: #00b7ff;
  height: 100vh;
}

    /* background: #2f2467;
    color: white; */
.ugquiz_StudentDashbordconatiner_left .ugquiz_StudentDashbordconatiner_left_menu{
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.ugquiz_StudentDashbordconatiner_right{
  /* background: #ff2a2a; */
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}
.studentDashbordconatinereditfrombtns{
  display: flex;
  gap: 1rem;
}