.ug_logincontainer {
    /* background: #d30707; */
    width: 20%;
    margin: 0 auto;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ug_logincontainer_box {
    /* width: 80%; */
    /* height: 70vh; */
    /* border: 1px solid red; */
    /* background: #0000000c; */
    /* background: #279eff57; */

    border-radius: 18px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    padding: 1rem;
    display: grid;
    justify-content: center;
    align-items: center;
}

.ug_logincontainer_box .ug_logincontainer_box_subbox {
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fill, minmax(50px,1fr));  */
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}

.loginlogo_img {
    display: flex;
    justify-content: center;
    align-items: center;


}

.loginlogo_img img {
    width: 30%;
    height: auto;
    border-radius: 10%;

}

.ug_logincontainer_box h2 {
    text-align: center;
    font-size: 2rem;
    margin: 0rem auto;
    margin-bottom: 1rem;
    /* color: #00000079; */
}

.ug_logincontainer_box form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ug_logincontainer_box form label {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    /* border: 2px solid red; */
    width: 500px;
    margin: 0 auto;
    border-bottom: 1px solid #1110109d;

}

.ug_logincontainer_box form input {
    /* background: #e6e6e6; */
    width: 250px;
    height: 40px;
    padding: 0.5rem;
    background: none;
    font-size: 1.5rem;
    /* border: 1px solid #e6e6e6 ; */
    border-radius: 18px;
    outline: none;
}

.ug_logincontainer_box form button {
    /* background: #000; */
    background: #2f2467;

    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    width: 150px;
    text-align: center;
    margin: 1.5rem auto;

    &:hover {
        background: #279EFF;

    }
}

.login_from_continer p {
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;

}

.login_from_continer a {
    color: #2f2467;
    padding: 0 0.5rem;
    border-bottom: 2px solid #2f2467;

    &:hover {
        color: #2f00ff;
        font-weight: 500;
        border-bottom: 2px solid #2f00ff;

    }
}
@media (max-width:950px) {

    .ug_logincontainer {
        width: 80%;
    }
    /* .ug_logincontainer {
        transform: scale(0.9);
    } */

.ug_logincontainer_box .ug_logincontainer_box_subbox {
        gap: 0;
    }
.ug_logincontainer_box {
    /* width: 80%; */
    /* height: 50vh; */
    padding: 0.5rem;
}


.ug_logincontainer_box h2 {
    font-size: 1.5rem;
    margin: 0.5rem auto;
}

.ug_logincontainer_box form label {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    /* border: 2px solid red; */
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #1110109d;
}


.login_from_continer p {
    margin: 0.9rem;
    font-size: 0.85rem;
}
}